<div class="contents">
	<div class="grid">
  <div class="grid-cell fixed">
<h1>Mypage</h1>
<br>
<h3><a href="/chart"><%= current_user.name %>さんのグラフ</a><br></h3>
<br>
<h3><a href="/home">クエスト一覧へ</a></h3>
<br>
<div class="home">
  <ol>
    <li><a href="/home2">全て</a></li>
    <% @categories.each do |c| %>
    <li><a href="/category2/<%= c.id %>"><%= c.categoname %></li>
    <% end %>
  </ol>
  </div>
</div>

<div class="grid-cell flexible">
  <div class="center-vertical">
  <% if @category_name.present? %><h2><%= @category_name %></h2><% end %>
    <% @chats.each do |t| %>
            <div class="post center-vertical">
            <figure>
            <% unless t.img3.empty? %>
            <p><img src="<%= t.img3 %>"></p>
            <% end %>
            </figure>

            <form action="/chatdelete/<%= t.id %>" method="post">
             <input type="submit" value="削除">
            </form>
            </div>
    <% end %>

    </div>

    </div>
  </div>
</div>
<div class="pagetop">↑</div>