<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/assets/css/stylesheet.css">
<title>GYIポータルサイト</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<script>
jQuery(document).ready(function() {
var offset = 100;
var duration = 500;
jQuery(window).scroll(function() {
if (jQuery(this).scrollTop() > offset) {
jQuery('.pagetop').fadeIn(duration);
} else {
jQuery('.pagetop').fadeOut(duration);
}
});

jQuery('.pagetop').click(function(event) {
event.preventDefault();
jQuery('html, body').animate({scrollTop: 0}, duration);
return false;
})
});
</script>

</head>

<body>


<div class="contents">
	<div class="grid">
  <div class="grid-cell fixed">
<h1>Mypage</h1>
<br>
<a href="/chart"><%= current_user.name %>さんのグラフ</a>
<div class="home">
  <ol>
    <li><a href="/home">全て</a></li>
    <li><a href="/quests/done">done</a></li>
    <% @categories.each do |c| %>
    <li><a href="/category/<%= c.id %>"><%= c.categoname %></li>
    <% end %>
  </ol>
  </div>
</div>

<div class="grid-cell flexible">
  <% if @category_name.present? %><h2><%= @category_name %></h2><% end %>
    <% @quests.each do |t| %>
            <div class="post center-vertical">
            <div onclick="obj=document.getElementById('<%= t.id%>').style; obj.display=(obj.display=='none')?'block':'none';">
              <a style="cursor:pointer;"><h2><p><%= t.title %></p></h2></a>

              <p>日程：<%= t.day %>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</p>

            </div>
            <div id="<%= t.id%>" style="display:none;clear:both;">
            <p> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</p>
              <p>難易度:<span class="<%= t.star %>"></span></p>
              <p>条件:<%= t.condition %></p>
              <p>詳細:<%= t.details %></p>

              <span><%= t.good %></span>
                <td>
                <% unless t.completed %>
                  <form action="/quests/<%= t.id %>/done" method="post">
                    <input type="submit" value="Done">
                  </form>
                <% else %>
                Done
                <% end %>
                </td>
              <p><a href="/new/delete/<%= t.id%>">削除</article></p>
              </div>
            </div>
    <% end %>
    </div>

  </div>
</div>

<div class="pagetop">↑</div>


<footer>
プロジェクト
</footer>
</body>
<html>