<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/assets/css/stylesheet.css">
<title>GYIポータルサイト</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<script>
jQuery(document).ready(function() {
var offset = 100;
var duration = 500;
jQuery(window).scroll(function() {
if (jQuery(this).scrollTop() > offset) {
jQuery('.pagetop').fadeIn(duration);
} else {
jQuery('.pagetop').fadeOut(duration);
}
});

jQuery('.pagetop').click(function(event) {
event.preventDefault();
jQuery('html, body').animate({scrollTop: 0}, duration);
return false;
})
});
</script>

</head>
<body>

      <section class="center-vertical">
      <h1>クエスト</h1>
      <% @quests.each do |t| %>

      <div class="post center-vertical">
      <div onclick="obj=document.getElementById('<%= t.id%>').style; obj.display=(obj.display=='none')?'block':'none';">
	<a style="cursor:pointer;">活動内容:<%= t.title %></a>
      </div>
      <div id="<%= t.id%>" style="display:none;clear:both;">
        <p>依頼主:<%= t.client %></p>
        <p>条件:<%= t.condition %></p>
        <p>参加者:<%= t.member %></p>
        <p>詳細:<%= t.details %></p>
        <p>難易度:<span class="<%= t.star %>"></span></p>
        <p>投稿者:<%= t.user_name %></p>
      </div>
      </div>
      <% end %>
      </section>


<div class="pagetop">↑</div>
</body>
<html>